# VISUALIZATIONS
In this task, we will be visualizing categorical and continuous variables using various plots and charts.
The data is provided 

Sample Dataset :- https://github.com/Prodigy-InfoTech/data-science-datasets/tree/main/Task%201

In [8]:
# Load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import scipy.stats as stats

# Load data
df = pd.read_csv('World Population.csv')
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54922.0,55578.0,56320.0,57002.0,57619.0,58190.0,...,107906.0,108727.0,108735.0,108908.0,109203.0,108587.0,107700.0,107310.0,107359.0,107624.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130075728.0,133534923.0,137171659.0,140945536.0,144904094.0,149033472.0,...,607123269.0,623369401.0,640058741.0,657801085.0,675950189.0,694446100.0,713090928.0,731821393.0,750503764.0,769294618.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,9035043.0,9214083.0,9404406.0,9604487.0,9814318.0,10036008.0,...,33831764.0,34700612.0,35688935.0,36743039.0,37856121.0,39068979.0,40000412.0,40578842.0,41454761.0,42647492.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97630925.0,99706674.0,101854756.0,104089175.0,106388440.0,108772632.0,...,418127845.0,429454743.0,440882906.0,452195915.0,463365429.0,474569351.0,485920997.0,497387180.0,509398589.0,521764076.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5231654.0,5301583.0,5354310.0,5408320.0,5464187.0,5521981.0,...,28157798.0,29183070.0,30234839.0,31297155.0,32375632.0,33451132.0,34532429.0,35635029.0,36749906.0,37885849.0

The data contains the population of different countries over the years. From 1960 to 2024.

## Data Preparation

In [ ]:
# Check for missing values
print(f"Number of missing values per column:\n{df.isnull().sum()}")

# Check if data is normally distributed
# Shapiro-Wilk test
stat, p = stats.shapiro(df)
print("Shapiro-Wilk Test: stat=%.3f, p=%.3f" % (stat, p))
if p > 0.05:
    print("Data looks normal (fail to reject H0).")
else:
    print("Data is not normal (reject H0).")

Number of missing values per column:
Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              2
                 ..
2020              1
2021              1
2022              1
2023              1
2024              1
Length: 69, dtype: int64
Shapiro-Wilk Test: stat=nan, p=nan
Data is not normal (reject H0).